@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.Home {
  display: flex;
  flex-direction: column;
}
.pomodoro-card {
  background-color: rgb(217, 85, 80);
  padding: 10px;
  height: 100vh;
  align-items: center;
  text-align: center;
}
.short-break-card {
  background-color: rgb(76, 145, 149);
  padding: 10px;
  height: 100vh;
  align-items: center;
  text-align: center;
}
.long-break-card {
  background-color: rgb(69, 124, 163);
  padding: 10px;
  height: 100vh;
  align-items: center;
  text-align: center;
}
.Header {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-left: 400px;
  padding: 5px;
  border-bottom: 0.1px solid white;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}
.nav-links li {
  list-style-type: none;
  padding: 2px 8px;
  color: whitesmoke;
}
.card-container {
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-left: 350px;
  width: 500px;
  padding: 10px;
  margin-top: 20px;
}
.card-items {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.start-button-pomodoro {
  margin-top: 10px;
  background: whitesmoke;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  width: 30%;
  text-transform: uppercase;
  color: rgb(217, 85, 80);
  font-weight: bold;
}
.start-button-short-break {
  margin-top: 10px;
  background: whitesmoke;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  width: 30%;
  text-transform: uppercase;
  color: rgb(76, 145, 149);
  font-weight: bold;
}
.countdown {
  padding: 5px;
  font-size: 50px;
  color: white;
}
.card-nav-bar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  color: white;
}
.add-task-form {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  padding: 7px;
}
.form-container {
  border-bottom: 1px solid white;
  width: 400px;
  margin-left: 400px;
}
.elipse {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  /* margin-left: -15px; */
}
.add-task {
  margin-top: 17px;
  color: white;
}
.pomodoro-add-input {
  border: none;
  padding: 0.5rem 0.1rem;
  border-radius: 2px;
  transition: all 0.5s;
  background-color: rgb(217, 85, 80);
  width: 465px;
}
.short-time-add-input {
  border: none;
  padding: 0.5rem 0.1rem;
  border-radius: 2px;
  transition: all 0.5s;
  background-color: rgb(76, 145, 149);
  width: 465px;
}
.long-time-add-input {
  border: none;
  padding: 0.5rem 0.1rem;
  border-radius: 2px;
  transition: all 0.5s;
  background-color: rgb(69, 124, 163);
  width: 465px;
}
.pomodoro-add-input:focus {
  outline: none;
}
.short-time-add-input:focus {
  outline: none;
}
.short-time-add-input::placeholder {
  color: white;
}
.pomodoro-add-input::placeholder {
  color: white;
}
.long-time-add-input:focus {
  outline: none;
}
.long-time-add-input::placeholder {
  color: white;
}
.nav-links-items {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
}
.nav-links-items p {
  padding-left: 5px;
}
.nav-links-items p:hover {
  cursor: pointer;
}
.add-task-button {
  padding: 19px;
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border: 2px dotted white;
  border-radius: 10px;
  width: 400px;
  margin-left: 400px;
  margin-top: 30px;
  text-align: center;
  align-items: center;
  color: white;
}
.add-task-button p {
  text-align: center;
  padding-left: 5px;
}
.wrapper {
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}
.loader {
  text-align: center;
  color: white;
  font-size: 2rem;
}
.hover:hover {
  cursor: pointer;
}
.hover {
  margin-left: 10px;
  color: rgb(217, 85, 80);
  border-bottom: 1px solid rgb(217, 85, 80);
}

.login-input {
  padding: 0.5rem 1rem;
  width: 90%;
  border-radius: 2px;
  height: 48px;
  transition: all 0.5s;
  margin: 10px;
  border: 1px solid rgb(160, 158, 158);
  background-color: whitesmoke;
}
.Login-btn {
  margin-top: 15px;
  background: black;
  border: none;
  padding: 0.75rem 1.5rem;
  color: white;
  border-radius: 2px;
  width: 90%;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-left: -8px;
}
.login-container {
  background: rgb(217, 85, 80);
  padding: 10px;
  height: 100vh;
  text-align: center;
  color: white;
}

.sub-container {
  background-color: white;
  width: 25%;
  margin-left: 460px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
}
.inputs-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.inputs-container label {
  margin-left: 10px;
  color: rgb(141, 130, 130);
  text-transform: uppercase;
  font-weight: bold;
}
.login-title {
  color: rgb(141, 130, 130);
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 5px;
  text-transform: uppercase;
}
.focus-title {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 10px;
}
.focus-title:hover {
  cursor: pointer;
}
.loginOrSignUp-title {
  font-size: 20px;
}
.login-p {
  font-size: 18px;
}
.login-p:hover {
  cursor: pointer;
}
.setting-container {
  background: rgb(217, 85, 80);
  padding: 10px;
  height: 100vh;
  text-align: center;
  color: white;
}
.setting-sub-container {
  background-color: white;
  width: 25%;
  margin-left: 460px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
}
.sent-credentials {
  color: rgb(141, 130, 130);
  margin-bottom: 8px;
}
.error-credentials {
  color: red;
  margin-bottom: 8px;
}
.loading-component {
  height: 100vh;
  background-color: rgb(217, 85, 80);
  text-align: center;
  align-items: center;
}
.all-tasks {
  height: 300px;
  overflow-y: auto;
}
